body {
    background-color: white;
    font-family: monospace;
}

#textarea {
    height: 65vh;
}

#textarea, #title {
    width: 100%;
    box-sizing: border-box;
    font-family: monospace;
}

.flexbox {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
}
